<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mi Despensa - Privacidad</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>
	<th:block th:replace="~{fragments/nav-without-form}"></th:block>
	<main>
		<div class="container-principal">
			<h1>POLÍTICA DE PRIVACIDAD DEL SITIO WEB</h1>
			<h2>www.midespensa.com</h2>

			<h3>I. POLÍTICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS</h3>
			<p>Respetando lo establecido en la legislación vigente, Mi
				despensa (en adelante, también Sitio Web) se compromete a adoptar
				las medidas técnicas y organizativas necesarias, según el nivel de
				seguridad adecuado al riesgo de los datos recogidos.</p>

			<h4>Leyes que incorpora esta política de privacidad</h4>
			<p>Esta política de privacidad está adaptada a la normativa
				española y europea vigente en materia de protección de datos
				personales en internet. En concreto, respeta las siguientes normas:</p>
			<ul>
				<li>El Reglamento (UE) 2016/679 del Parlamento Europeo y del
					Consejo, de 27 de abril de 2016, relativo a la protección de las
					personas físicas en lo que respecta al tratamiento de datos
					personales y a la libre circulación de estos datos (RGPD).</li>
				<li>La Ley Orgánica 3/2018, de 5 de diciembre, de Protección de
					Datos Personales y garantía de los derechos digitales (LOPD-GDD).</li>
				<li>El Real Decreto 1720/2007, de 21 de diciembre, por el que
					se aprueba el Reglamento de desarrollo de la Ley Orgánica 15/1999,
					de 13 de diciembre, de Protección de Datos de Carácter Personal
					(RDLOPD).</li>
				<li>La Ley 34/2002, de 11 de julio, de Servicios de la Sociedad
					de la Información y de Comercio Electrónico (LSSI-CE).</li>
			</ul>

			<h4>Identidad del responsable del tratamiento de los datos
				personales</h4>
			<p>El responsable del tratamiento de los datos personales
				recogidos en Mi despensa es: ******** (en adelante,
				Responsable del tratamiento). Sus datos de contacto son los
				siguientes:</p>
			<p>
				<strong>Email de contacto:</strong> midespensa.contact@gmail.com
			</p>

			<h4>Registro de Datos de Carácter Personal</h4>
			<p>En cumplimiento de lo establecido en el RGPD y la LOPD-GDD, le
				informamos que los datos personales recabados por Mi despensa,
				mediante los formularios extendidos en sus páginas quedarán
				incorporados y serán tratados en nuestro fichero con el fin de poder
				facilitar, agilizar y cumplir los compromisos establecidos entre Mi
				despensa y el Usuario o el mantenimiento de la relación que se
				establezca en los formularios que este rellene, o para atender una
				solicitud o consulta del mismo.</p>

			<h4>Principios aplicables al tratamiento de los datos personales</h4>
			<p>El tratamiento de los datos personales del Usuario se someterá
				a los siguientes principios recogidos en el artículo 5 del RGPD y en
				el artículo 4 y siguientes de la Ley Orgánica 3/2018, de 5 de
				diciembre, de Protección de Datos Personales y garantía de los
				derechos digitales:</p>
			<ul>
				<li><strong>Licitud, lealtad y transparencia:</strong> Se
					requerirá en todo momento el consentimiento del Usuario previa
					información completamente transparente de los fines para los cuales
					se recogen los datos personales.</li>
				<li><strong>Limitación de la finalidad:</strong> Los datos
					personales serán recogidos con fines determinados, explícitos y
					legítimos.</li>
				<li><strong>Minimización de datos:</strong> Los datos
					personales recogidos serán únicamente los estrictamente necesarios
					en relación con los fines para los que son tratados.</li>
				<li><strong>Exactitud:</strong> Los datos personales deben ser
					exactos y estar siempre actualizados.</li>
				<li><strong>Limitación del plazo de conservación:</strong> Los
					datos personales solo serán mantenidos de forma que se permita la
					identificación del Usuario durante el tiempo necesario para los
					fines de su tratamiento.</li>
				<li><strong>Integridad y confidencialidad:</strong> Los datos
					personales serán tratados de manera que se garantice su seguridad y
					confidencialidad.</li>
				<li><strong>Responsabilidad proactiva:</strong> El Responsable
					del tratamiento será responsable de asegurar que los principios
					anteriores se cumplen.</li>
			</ul>

			<h4>Categorías de datos personales</h4>
			<p>Las categorías de datos que se tratan en Mi despensa son
				únicamente datos identificativos. En ningún caso, se tratan
				categorías especiales de datos personales en el sentido del artículo
				9 del RGPD.</p>

			<h4>Base legal para el tratamiento de los datos personales</h4>
			<p>La base legal para el tratamiento de los datos personales es
				el consentimiento. Mi despensa se compromete a recabar el
				consentimiento expreso y verificable del Usuario para el tratamiento
				de sus datos personales para uno o varios fines específicos.</p>

			<h4>Fines del tratamiento a que se destinan los datos personales</h4>
			<p>Los datos personales son recabados y gestionados por Mi
				despensa con la finalidad de poder facilitar, agilizar y cumplir los
				compromisos establecidos entre el Sitio Web y el Usuario o el
				mantenimiento de la relación que se establezca en los formularios
				que este último rellene o para atender una solicitud o consulta.</p>

			<h4>Períodos de retención de los datos personales</h4>
			<p>Los datos se conservarán durante un máximo de 5 años desde la
				última interacción del usuario con la aplicación, salvo que la
				legislación exija un período diferente o hasta que el Usuario
				solicite su supresión.</p>

			<h4>Destinatarios de los datos personales</h4>
			<p>Los datos personales del Usuario no serán compartidos con
				terceros. Sin embargo, Mi despensa puede utilizar proveedores
				externos para ciertos servicios necesarios para el correcto
				funcionamiento del Sitio Web, como el alojamiento web (hosting),
				análisis de datos, gestión de correos electrónicos o campañas de
				marketing. Estos proveedores actúan como encargados del tratamiento
				bajo contrato.</p>

			<h4>Datos personales de menores de edad</h4>
			<p>Solo los mayores de 14 años podrán otorgar su consentimiento
				para el tratamiento de sus datos personales de forma lícita por Mi
				despensa. Si se trata de un menor de 14 años, será necesario el
				consentimiento de los padres o tutores para el tratamiento.</p>

			<h4>Secreto y seguridad de los datos personales</h4>
			<p>Mi despensa se compromete a adoptar las medidas técnicas y
				organizativas necesarias para garantizar la seguridad de los datos
				de carácter personal y evitar su destrucción, pérdida o alteración
				accidental o ilícita.</p>

			<h4>Derechos derivados del tratamiento de los datos personales</h4>
			<p>El Usuario tiene derecho a ejercer los siguientes derechos
				reconocidos en el RGPD y la LOPD-GDD:</p>
			<ul>
				<li><strong>Derecho de acceso:</strong> Obtener confirmación
					sobre si se están tratando sus datos personales.</li>
				<li><strong>Derecho de rectificación:</strong> Modificar datos
					inexactos o incompletos.</li>
				<li><strong>Derecho de supresión:</strong> Solicitar la
					eliminación de sus datos cuando ya no sean necesarios.</li>
				<li><strong>Derecho a la limitación del tratamiento:</strong>
					Limitar el tratamiento de sus datos en determinadas circunstancias.</li>
				<li><strong>Derecho a la portabilidad de los datos:</strong>
					Recibir sus datos en un formato estructurado y transmitirlos a otro
					responsable.</li>
				<li><strong>Derecho de oposición:</strong> Oponerse al
					tratamiento de sus datos.</li>
			</ul>

			<h4>Reclamaciones ante la autoridad de control</h4>
			<p>
				En caso de que el Usuario considere que existe un problema o
				infracción de la normativa vigente en la forma en la que se están
				tratando sus datos personales, tendrá derecho a presentar una
				reclamación ante la Agencia Española de Protección de Datos (<a
					href="https://www.aepd.es/">https://www.aepd.es/</a>).
			</p>

			<h3>II. ACEPTACIÓN Y CAMBIOS EN ESTA POLÍTICA DE PRIVACIDAD</h3>
			<p>El uso del Sitio Web implicará la aceptación de esta Política
				de Privacidad. Mi despensa se reserva el derecho a modificarla en
				cualquier momento, por lo que se recomienda consultarla
				periódicamente.</p>

		</div>
	</main>
	
	<th:block th:replace="~{fragments/footer}"></th:block>
</body>
</html>